
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.item {
    flex: 0 0 calc(25% - 24px);
    display: flex;
}

@media (max-width: 1200px) {
    .item {
        flex: 0 0 calc(33.333% - 24px);
    }

}

@media (max-width: 900px) {
    .item {
        flex: 0 0 calc(50% - 24px);
    }

}

@media (max-width: 600px) {
    .item {
        flex: 0 0 100%;
    }

}