/* src/features/vehicles/VehiclesList/VehiclesList.module.css */
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.item {
    flex: 0 0 calc(25% - 24px);
    /* чітко 4 в ряд */
    display: flex;
}

/* адаптив */
@media (max-width: 1200px) {
    .item {
        flex: 0 0 calc(33.333% - 24px);
    }

    /* 3 в ряд */
}

@media (max-width: 900px) {
    .item {
        flex: 0 0 calc(50% - 24px);
    }

    /* 2 в ряд */
}

@media (max-width: 600px) {
    .item {
        flex: 0 0 100%;
    }

    /* 1 в ряд */
}