.button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.primary {
    background-color: #3470FF;
    color: #fff;
}

.primary:hover:not(.disabled) {
    background-color: #0B44CD;
}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.transparent {
    background-color: transparent;
    color: #0B44CD;
    border: 1px solid #3470FF;
    margin: 20px auto 0;
    color: black;
    display: block;
}

.transparent:hover {
    border: 1px solid #0B44CD;
    color: black;
}

.transparent:active {
    background-color: #0B44CD;
}