
.wrap {
    padding: 20px 0;
}


.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-top: 15px;
}

.empty {
    margin-top: 20px;
    text-align: center;
    color: #555;
}


.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.endMessage {
    margin-top: 20px;
    text-align: center;
    color: #555;
}